body{
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #C9CCD5;
  margin-top: 0px;
  box-shadow: 0px 1px 1px rgb(130, 141, 146);
}

.navBar > li{
  display: flex;
  align-items: center;
}

.button{
  border-radius: 9px;
  border: 0px;
  padding: 6px 8px;
}

.button:hover{
  transform: scale(1.04);
  cursor: pointer;
}

.mainButton{
  background-color: #7FC8A9;
  color:aliceblue;
  font-weight: bolder;
  width: 130px;
  font-size: medium;
}

.mainButton:hover{
  box-shadow: 2px 2px #5F7A61;
}

.secondaryButton{
  background-color: #6D8299;
  color: aliceblue;
  font-weight: bolder;
  margin: 5px;
}

.secondaryButton:hover{
  box-shadow: 2px 2px #316B83;
}

.srchBar{
  background-color: white;
  border: 2px solid #8CA1A5;
  border-radius: 8px;
  padding: 1px;
  width: 300px;
  display: flex;
  justify-content:space-between;
}

.srchBar:focus-within{
  border-color: #316B83;
}

.srchBar > input{
  border: 0px;
  outline: none;
  border-radius: 8px;
  width: 300px;
}

.icon{
  height: 50px;
  display: flex;
}

.icon > img{
  object-fit: cover;
  height: 100%;
}

.iconoBusqueda:hover{
  color: #316B83;
}

.imgsContainer{
  display: flex;
  margin: 20px;
}

.imgContainer{
  height: 360px;
  width: 240px;
  display: flex;
}

.imgContainer:hover{
  transform: scale(1.015);
  cursor: pointer;
}

.imgContainer > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.breadContainer{
  margin: 10px;
  background-color: #334756;
  box-shadow: 2px 2px 1px #9D9D9D;
  border-radius: 8px;
}

.dogClass{
  color:white;
  padding: 15px;
  padding-bottom: 10px;
  margin: 0px;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.titulo{
  text-align: center;
}

.likeSection{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  color: white;
}

.likeSection > i{
  padding: 0px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContainer > main{
  height: 100%;
}

.mainContainer > footer{
  background-color: red;
}
