body{
    margin: 0px;
}

ul{
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #D5BFBF;
    border-bottom: 1px solid #b19f9f;
    margin-top: 0px;
}

.navBar > li{
    display: flex;
    align-items: center;
}

.button{
    border-radius: 9px;
    border: 0px;
    padding: 4px 6px;
    font-weight: bold;
}

.button:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.mainButton{
    background-color: #7FC8A9;
    color:aliceblue;
}

.mainButton:hover{
    box-shadow: 1.5px 1.5px #5F7A61;
}

.secondaryButton{
    background-color: #6D8299;
    color: aliceblue;
}

.secondaryButton:hover{
    box-shadow: 1.5px 1.5px #316B83;
}

.srchBar{
    background-color: white;
    border: 2px solid #8CA1A5;
    border-radius: 8px;
    padding: 1px;
    width: 300px;
    display: flex;
    justify-content:space-between;
}

.srchBar:focus-within{
    border-color: #316B83;
}

.srchBar > input{
    border: 0px;
    outline: none;
    border-radius: 8px;
    width: 300px;
}

.icon{
    height: 50px;
    display: flex;
}

.icon > img{
    object-fit: cover;
    height: 100%;
}

.iconoBusqueda:hover{
    color: #316B83;
}

