ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mainButton{
    background-color: #12B330;
    color:aliceblue;
    cursor: pointer;
    border: 0px;
}